/* Styling all colors I would be using in this website */

:root {
    --st-patricks-blue: hsl(235, 57%, 28%);
    --amaranth-purple: hsl(335, 88%, 38%);
    --royal-blue-dark: hsl(231, 68%, 21%);
    --chrome-yellow: hsl(39, 100%, 52%);
    --space-cadet-1: hsl(230, 41%, 25%);
    --space-cadet-2: hsl(230, 59%, 16%);
    --winter-sky_50: hsla(335, 87%, 53%, 0.5);
    --purple-navy: hsl(236, 26%, 43%);
    --ksu-purple: hsl(275, 54%, 33%);
    --winter-sky: hsl(335, 87%, 53%);
    --razzmattazz: hsl(335, 87%, 51%);
    --platinum: hsl(0, 0%, 90%);
    --black_70: hsla(0, 0%, 0%, 0.7);
    --rajah: hsl(29, 99%, 67%);
    --white: hsl(0, 0%, 100%);

    --gradient-1: linear-gradient(90deg, var(--royal-blue-dark) 0, var(--ksu-purple) 51%, var(--royal-blue-dark));

    --gradient-2: linear-gradient(90deg, var(--razzmattazz), var(--rajah));

    /* the typography */

    --ff-source-sans-pro: 'Source Sans Pro', sans-serif;
    --ff-poppins: 'poppins', sans-serif;
    --fs-1: 4.2rem;
    --fs-2: 3.8rem;
    --fs-3: 3.2rem;
    --fs-4: 2.5rem;
    --fs-5: 2.4rem;
    --fs-6: 2rem;
    --fs-7: 1.8rem;
    --fs-8: 1.5rem;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;



    /* Border Radius */

    --radius-4: 4px;
    --radius-12: 12px;

    /* The spacing's for the Project */

    --section-padding: 60px;

    /* Our prject's Transition */

    --transition-1: 0.15s ease;
    --transition-2: 0.35s ease;
    --cubic-inn: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

    /* Our Project's shadow */

    --shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
}


/* Styling the universal elements */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
button,
ion-icon {
    display: block;
}

button,
input {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

ion-icon {
    pointer-events: none;
}

img {
    height: auto;
}

address {
    font-style: normal;
}

html {
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--purple-navy);
    font-size: 1.6rem;
}

/* 
we want to edit scroll-bar now */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);
}


::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}






/* Re used style starts */
.h2 {
    font-family: var(--ff-source-sans-pro);
}

.btn {
    background-image: var(--gradient-2);
    background-size: 200%;
    color: var(--white);
    padding: 12px 35px;
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    border-radius: 0 25px;
    transition: var(--transition-2);
}

.btn:is(:hover, :focus) {
    background-position: right;
}

.w-100 {
    width: 100%;
}

.banner-animation {
    animation: waveAnim 2s linear infinite alternate;
}

/* Making a keyframe */
@keyframes waveAnim {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    100% {
        transform: translate(2px, 2px) rotate(1deg);
    }
}

h2,
h3 {
    font-family: var(--ff-source-sans-pro);
}


.container {
    padding-inline: 15px;
}

.section {
    padding-block: var(--section-padding);
}

.section-title {
    color: var(--st-patricks-blue);
    font-size: var(--fs-3);
    margin-block-end: 60px;
    max-width: max-content;
    margin-inline: auto;
}

.underline {
    position: relative;
}

.underline::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 6px;
    background-image: var(--gradient-2);
    border-radius: 10px;
}

/* giving both call-parayer-card and goals-card, and blog-card a styling */
:is(.call-prayer-card, .goals-card, .blog-card) .title {
    color: var(--st-patricks-blue);
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
}

:is(.call-prayer-card, .goals-card) .text {
    font-size: var(--fs-8);
}

/* If the font size for the blogs is too big, make your own 
fontsize --fs-6 or any number and remove any card you changed it's font size in the 
:is() 
*/
.img-cover {
    /* Emmanuel when you find good images, give width and height
    100% */
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Styling the header section */

.header .btn {
    display: none;
}

.header {
    --color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 14px;
    z-index: 4;
    transition: var(--transition-1);
}

.header.active {
    /* Note we created an instant variable --color here */
    --color: var(--st-patricks-blue);
    position: fixed;
    background-color: var(--white);
    box-shadow: 0 2px 30px hsla(0, 0%, 0%, 0.1);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.logo {
    color: var(--color);
    font-family: var(--ff-source-sans-pro);
    font-size: var(--fs-3);
}

.nav-open-btn {
    color: var(--color);
    font-size: 32px;
    padding: 4px;
}

.navbar {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: -250px;
    width: 100%;
    max-width: 250px;
    min-height: 100vh;
    padding: 20px;
    visibility: hidden;
    z-index: 2;
    transition: 0.25s var(--cubic-inn);
}



.navbar.active {
    transform: translateX(250px);
    visibility: visible;
    transition: 0.5s var(--cubic-out);
}

.navbar-top {
    margin-top: -200px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px 30px;
}

.navbar-top .logo {
    color: var(--st-patricks-blue);
    font-size: 3.6rem;
    font-weight: var(--fw-700);

}


.nav-close-btn {
    color: var(--space-cadet-1);
    font-size: 2.8rem;
    padding: 4px;

}

.navbar-item:not(:last-child) {
    border-bottom: 1px solid var(--platinum);
    width: 200px;
}

.navbar-link {
    color: var(--space-cadet-1);
    font-size: var(--fs-8);
    font-weight: var(--fw-600);
    padding-block: 12px;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: var(--black_70);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-2);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}



/* Re used style ends */


/* Styling the hero section starts */

.hero {
    background-image: url("../img/hero-bg-bottom.png"),
        url("../img/hero-bg.png"),
        var(--gradient-1);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -280px bottom, center, center;
    background-size: auto, cover, auto;
    padding-block-start: 120px;
    padding-block-end: var(--section-padding);
}

.hero-content {
    margin-block-end: 50px;
}

.hero-subtitle {
    color: var(--chrome-yellow);
    font-family: var(--ff-source-sans-pro);
    font-size: var(--fs-7);
    margin-block-end: 15px;
}

.hero-title {
    color: var(--white);
    font-size: var(--fs-1);
    margin-block-end: 20px;
}

.hero-text {
    color: var(--white);
    font-size: var(--fs-8);
    margin-block-end: 30px;
}






/* Styling the hero section ends */


/* The Life's we've touched styling */

.about-banner {
    margin-block-end: 30px;
}

.about .section-title {
    margin-inline: 0;
}

.about .underline::before {
    left: 0;
    transform: translateX(0);
}

.about-text {
    font-size: var(--fs-8);
    margin-block-end: 20px;

}

.stats-list {
    display: grid;
    gap: 30px;
}

.starts-card {
    text-align: center;
    padding: 15px;
    box-shadow: var(--shadow);
    border-radius: var(--radius-12);
}

.stats-title {
    color: var(--st-patricks-blue);
    font-size: var(--fs-2);
    font-weight: var(--fw-700);
}

.stats-text {
    font-size: var(--fs-8);
}


/* Styling the call-prayer section starts */




/* Styling the call-prayer section ends */

.call-prayer-list {
    display: grid;
    gap: 30px;
    cursor: pointer;
}

.call-prayer-card {
    padding: 30px;
    box-shadow: var(--shadow);
    border-radius: var(--radius-12);
}

.call-prayer-card .call-prayer-card-icon {
    background-image: url("../img/service-banner-pattern.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsla(335, 87%, 53%, 0.12);
    aspect-ratio: 1 / 1;
    max-width: 165px;
    display: grid;
    place-content: center;
    margin-inline: auto;
    transition: var(--transition-1);
}

.call-prayer-card:hover .call-prayer-card-icon {
    background: var(--winter-sky);

}

.call-prayer-card .call-prayer-card-icon ion-icon {
    font-size: 5rem;
    color: var(--winter-sky);
    --ionicon-stroke-width: 20px;
    transition: var(--transition-1);
}

.call-prayer-card:hover .call-prayer-card-icon ion-icon {
    color: var(--white);
}

.call-prayer-card .title {
    text-align: center;
    margin-block-end: 15px;
}

.call-prayer-card .text {
    text-align: center;
    margin-block-end: 20px;
}

.call-prayer-card .call-prayer-card-btn {
    margin-inline: auto;
    padding: 14px;
    border: 1px solid var(--winter-sky);
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    color: var(--winter-sky);
    transition: var(--transition-1);
}

.call-prayer-card .call-prayer-card-btn:is(:hover, :focus) {
    color: var(--white);
    background-color: var(--winter-sky);
}


/* Styling of the Classes Crousel starts */

#class-start .classes {
    background: url("../img/Abract01.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

#class-start .classes-list {
    padding-top: 6rem;
}

#class-start .classes-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

#class-start .classes-title {
    padding: 2rem 0;
}

#class-start img {
    height: 200px;
    width: 275px;

}

#class-start span {
    color: var(--black_70);
    font-family: var(--ff-poppins);
    display: block;
}

/* What's making website unresponsive on Laptop and mobile */
/* #class-start .container{
    margin: 0 50vw;
} */

/* Styling the owl navigation */

#class-start section .container .owl-nav {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
    color: var(--royal-blue-dark);
    background: transparent;
    font-size: 2rem;
}

/* Removing the hover effect from owl-nav */

.owl-theme .owl-nav[class="owl-"]:hover {
    background: transparent;
    color: var(--black_70);
}

.owl-theme .owl-nav[class="owl-"] {
    outline: none;
}


/* Styling of the Classes Crousel ends */



/* Styling of the goals section starts */

.goals-list>li:first-child {
    margin-block-end: 30px;
}

.goals-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.goals-card .icon {
    background-image: var(--gradient-1);
    background-size: 200%;
    color: var(--white);
    min-width: max-content;
    max-width: max-content;
    font-size: 36px;
    padding: 22px;
    border-radius: 50%;
}

.goals-card .icon ion-icon {
    --ionicon-stroke-width: 20px;
}

.goals-card .title {
    margin-block-end: 10px;
}

.goals-banner {
    margin-block: 40px;
}

.goals-banner>img {
    max-width: max-content;
    margin-inline: auto;
}


/* Styling of the goals section ends */



/* Styling the donation bar starts */
.donation-bar,
.donation-percentage {
    height: 5px;
    border-radius: 0.25rem;
    background-color: var(--platinum);
    margin-bottom: 20px;
}

.donation-percentage {
    display: block;
    background: var(--gradient-2);
}

.call-prayer-card .btn {
    margin-top: 20px;
}

.percent {
    margin-left: 130px;
    margin-top: -15px;
}

.donate-poor {
    width: 70%;
}

.donate-children {
    width: 40%;
}

.donate-girl {
    width: 84%;
}


/* Styling the donation bar ends */




/* Styling the upcomingEvenets section starts */

.upcomingEvents {}

.eventsCenter .dateEvent {
    display: inline-flex;
    position: left;
    background: var(--chrome-yellow);
    width: 80px;
    padding: 15px;
    border-radius: 20%;
    margin-top: 20px;
    margin-left: 390px;
}

.eventsCenter .dateEvent h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: var(--fw-700);
}


.eventsCenter {
    display: grid;
    color: var(--white);
}

.eventsCenter .event1 i {
    color: var(--chrome-yellow);
}

.eventsCenter .event1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.77)), url("../img/blog-1.jpg");
    height: 450px;
    width: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}

.eventsCenter .event1 .eventTalk {
    margin-left: 45px;
}

.eventsCenter .event1 .h3 {
    margin-top: 60px;

    font-weight: var(--fw-500);
}

.eventsCenter .event1 h5 {
    margin-top: 14px;

}

.eventsCenter .event1 p {
    margin-top: 18px;
    font-size: 13px;
    font-weight: 400;
    width: 90%;
}

.eventsCenter .event1 a {
    margin-top: 21px;
}


.eventsCenter .event2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.77)), url("../img/blog-4.jpg");
    height: 450px;
    width: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}


.eventsCenter .dateEvent2 {
    display: inline-flex;
    position: left;
    background: var(--chrome-yellow);
    width: 80px;
    padding: 15px;
    border-radius: 20%;
    margin-top: 20px;
    margin-left: 390px;
}

.eventsCenter .dateEvent2 h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: var(--fw-700);
}


.eventsCenter .event2 i {
    color: var(--chrome-yellow);
}

.eventsCenter .event2 .eventTalk2 {
    margin-left: 45px;
}

.eventsCenter .event2 .h3 {
    margin-top: 60px;

    font-weight: var(--fw-500);
}

.eventsCenter .event2 h5 {
    margin-top: 14px;

}

.eventsCenter .event2 p {
    margin-top: 18px;
    font-size: 13px;
    font-weight: 400;
    width: 90%;
}

.eventsCenter .event2 a {
    margin-top: 21px;
}





/* Styling the upcomingEvenets section ends */


/* Styling the voluntters section starts */

.team {}

.volunteerTeam {
    display: grid;
    color: var(--white);
}

.volunteerTeam .volunteer1 {
    background-image: url("../img/3TimberlandWomen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 90%;
    border-radius: 10%;
    cursor: pointer;
}

.volunteerTeam .teamShare {
    background: var(--white);
    border-radius: 10px;
    margin-top: 400px;
    color: var(--black_70);
    width: 90%;
    height: 240px;
    box-shadow: var(--shadow);
}

.volunteerTeam .teamShare h6 {
    color: var(--chrome-yellow);
    font-size: 12px;
    font-family: var(--fw-700);
}

.volunteerTeam .teamShare h2 {
    margin-top: 10px;
    font-weight: var(--fw-700);
    color: var(--st-patricks-blue);
}

.volunteerTeam .teamShare p {
    color: #222;
    width: 100%;
}


/* Styling the social media icons for the volunteers */

.volunteerTeam .teamSocial {
    width: 10px;
    display: inline-flex;
}


.volunteerTeam .teamSocial a {

    text-decoration: none;
    text-align: center;
    padding: 12px;
    border: 2px solid var(--chrome-yellow);
    border-radius: 50%;
    color: var(--st-patricks-blue);
    margin-left: 10px;

}

.volunteerTeam .teamSocial a:hover {
    background: var(--chrome-yellow);
    transition: 0.7s;
    color: var(--white);
}


.volunteerTeam .volunteer2 {
    background-image: url("../img/3TimberlandWomen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 90%;
    border-radius: 10%;
    cursor: pointer;
}

.volunteerTeam .volunteer3 {
    background-image: url("../img/3TimberlandWomen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 90%;
    border-radius: 10%;
    cursor: pointer;
}




/* Styling the voluntters section ends */




/* Styling the Christianity blog section starts */

.blog {
    padding-block-end: 120px;
}

.blog-list {
    display: grid;
    gap: 30px;
}

.blog-card {
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: var(--radius-12);
}

.blog-card .banner {
    border-radius: var(--radius-12);
    overflow: hidden;
    margin-block-end: 15px;
}

.blog-card .banner img {
    transition: var(--transition-2);
}

.blog-card .banner a:is(:hover, :focus) img {
    transform: scale(1.1);
}

.blog-card .title {
    color: var(--st-patricks-blue);
    font-size: var(--fs-6);
    line-height: 1.2;
    margin-block-end: 15px;
}

.blog-card .title>a {
    color: inherit;
}

.blog-card .title>a:is(:hover, :focus) {
    color: var(--razzmattazz);
}

.blog-card .text {
    margin-block-end: 15px;
}


.blog-card .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: var(--fs-8);
    color: var(--purple-navy);
    font-weight: var(--fw-500);
    padding-block-end: 10px;
}

.blog-card .meta ion-icon {
    color: var(--winter-sky);
    font-size: 22px;
    --ionicon-stroke-width: 35px;
}

.publish-date,
.comment {
    display: flex;
    align-items: center;
    gap: 8px;
}

.comment {
    color: inherit;
    margin-inline-start: auto;
}




/* Styling the Christianity blog section ends */






/* Styling the footer section starts */

.footer {
    font-size: var(--fs-8);
}

.footer a {
    color: inherit;
}

.footer-top {
    background-image: url("../img/footer-bg.png"), var(--gradient-1);
    background-repeat: no-repeat;
    background-size: auto, 200%;
    background-position: center, center;
    color: var(--white);
}

.footer-brand {
    margin-block-end: 30px;
}

.footer-brand .logo {
    font-weight: var(--fw-700);
    margin-block-end: 15px;
}

.footer-brand .text {
    font-size: var(--fs-8);
    margin-block-end: 20px;
}

.social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.footer-top .social-link {
    background-color: var(--white);
    color: var(--white);
    font-size: 18px;
    padding: 8px;
    border-radius: 50%;
}

.footer-top .social-link:is(:hover, :focus) {
    background-image: var(--gradient-2);
    color: var(--white);
}

.footer-list:not(:last-child) {
    margin-block-end: 25px;
}

.footer-list-title {
    font-family: var(--ff-source-sans-pro);
    font-size: var(--fs-5);
    font-weight: var(--fw-700);
    margin-block-end: 15px;
}

.footer-link {
    padding-block: 5px;
}

:is(.footer-link, .footer-item-link):not(address):is(:hover, :focus) {
    text-decoration: underline;
}

.footer-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-block: 10px;
}

.footer-item-icon {
    background-image: var(--gradient-2);
    padding: 13px;
    border-radius: 50%;
}

.footer-bottom {
    background-color: var(--space-cadet-2);
    padding: 20px;
    text-align: center;
    color: var(--white);
}

.copyright-link {
    display: inline-block;
    text-decoration: underline;
}

.copyright-link:is(:hover, :focus) {
    text-decoration: none;
}


/* Styling the footer section starts */




/* styling the scroll top button */

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 15px;
    background-color: var(--winter-sky);
    color: var(--white);
    font-size: 20px;
    padding: 14px;
    border-radius: var(--radius-4);
    box-shadow: -3px 3px 15px var(--winter-sky_50);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-1);
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-15px);
}



/* Styling the events page starts */

.allBanner {
    background-image: url("../img/banner-bg.webp");
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;


}

.allBanner h2 {
    margin-top: 110px;
    color: var(--black_70);
    text-align: center;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: var(--fw-500);
}


/* The side bar section for events.html starts */

main .event-content{
    display: grid;
    grid-template-columns: 70% 30%;
}



/* The side bar section for events.html ends */














































































































































































































































































/* Media querrries for index.html */

/* This was done formaking the navigation section
come up and not stay down as it was before */

@media (max-width: 550px) {

    .navbar .navbar-list {
        margin-top: -450px;
        margin-bottom: 20px;
    }


    .percent {
        margin-left: 150px;
        margin-top: -15px;
    }

    .eventsCenter .dateEvent {
        margin-left: 250px;
    }

    .eventsCenter .dateEvent2 {
        margin-left: 250px;

    }

    .eventsCenter .event1 {
        width: 100%;
    }

    .eventsCenter .event1 .eventTalk {
        margin-left: 25px;
    }

    .eventsCenter .event1 .h3 {
        margin-top: 60px;


    }

    /* The volunteers section */


    .volunteerTeam .volunteer2 {
        margin-top: 200px;
    }

    .volunteerTeam .volunteer3 {
        margin-top: 200px;
    }

    .eventsCenter .event2 {
        width: 100%;
        margin-top: 20px;
    }

    .eventsCenter .event2 .eventTalk2 {
        margin-left: 25px;
    }

    .eventsCenter .event2 .h3 {
        margin-top: 60px;
    }

}

@media (max-width: 300px) {

    .percent {
        margin-left: 70px;
        margin-top: -15px;
    }
}


@media (max-width: 400px) {

    .navbar .navbar-list {
        margin-top: -340px;
        margin-bottom: 20px;
    }

    .percent {
        margin-left: 120px;
        margin-top: -15px;
    }
}

/* responsiveness for larger than 550px screen */


@media (min-width: 550px) {

    /* Reused style */

    .container {
        max-width: 550px;
        margin-inline: auto;
    }

    .section-title {
        --fs-3: 3.6rem;
    }

    /* The header section styling */

    .header .btn {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-inline-start: auto;
    }

    .percent {
        margin-left: 120px;
        margin-top: -15px;
    }






    /* THE CLASSES SECTION */

    /* .classes .owl-carousel .classes-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    } */


    /* The  about section styling */
    .stats-list {
        grid-template-columns: repeat(3, 1fr);
    }

    /* The upcoming events styling */

    .upcomingEvents .eventsCenter {
        grid-template-columns: repeat(2, 1fr);
    }

    .team .volunteerTeam {
        grid-template-columns: repeat(2, 1fr);
    }




    /* blog card section styling */
    .blog-card {
        display: grid;
        grid-template-columns: 0.75fr 1fr;
        gap: 20px;
        padding: 30px;
    }

    .blog-card .banner {
        margin-block-end: 0;
    }

    .blog-card .banner a {
        height: 100%;
    }

    /* Footer section styling */

    .footer-brand,
    .footer-list:not(:last-child) {
        margin-block-end: 0;
    }

    .footer-top .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 50px;
    }

}


@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .navbar .navbar-list {
        margin-top: -350px;
        margin-bottom: 20px;
    }

    .eventsCenter .dateEvent {
        margin-left: 50px;
    }

    .eventsCenter .event1 {
        width: 100%;
        margin-top: 20px;
    }

    .eventsCenter .event2 {
        width: 100%;
        margin-top: 20px;
    }



    .eventsCenter .dateEvent2 {
        margin-left: 50px;

    }

    /* the volunteer team section styling */

    .volunteerTeam .volunteer1 {
        width: 95%;
    }

    .volunteerTeam .volunteer2 {
        width: 95%;
    }

    .volunteerTeam .volunteer3 {
        width: 95%;
    }


}

/* responsiveness for larger than 768px screen */


@media (min-width: 768px) {
    /* Re Used style for this screen */

    .container {
        max-width: 720px;

    }

    /* Hero section */

    .hero {
        min-height: 600px;
        display: grid;
        place-items: center;
    }

    .hero .content {
        margin-block-end: 0;
    }

    .hero .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 30px;
    }

    /* Life's we've touched section */
    .call-prayer-list {
        grid-template-columns: 1fr 1fr;
    }

    .eventsCenter {
        grid-template-columns: 1fr 1fr;
    }

    /* The goals section styling */
    .goals-list>li:first-child {
        margin-block-end: 0;
    }

    .goals-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    /* .volunteerTeam .volunteer2 {
        margin-top: 200px;
    }*/

    .volunteerTeam .volunteer3 {
        margin-top: 200px;
    }




    /* The footer section */

    .footer-top .container {
        grid-template-columns: repeat(3, 1fr);
    }

}



/* responsiveness for larger than 992px screen */

@media (min-width: 992px) {

    /* CUSTOM PROPERTY */
    :root {

        /* typography */

        --fs-1: 5.4rem;
    }

    /* Re used style */

    .container {
        max-width: 950px;
    }

    .header {
        padding-block: 20px;
    }

    .overlay,
    .nav-open-btn,
    .navbar-top {
        display: none;
    }

    .navbar,
    .navbar.active {
        all: unset;
        margin-inline-start: auto;
    }

    .header .btn {
        margin-inline-start: 0;
    }

    /* .navbar-list .navbar-item a{
        display: flex;
        gap: 30px;
    } */

    .navbar-item:not(:last-child) {
        border-bottom: none;
    }

    .navbar-link {
        color: var(--color);
    }

    /* HERO */
    .hero {
        min-height: 700px;
    }


    /* about section */

    .about .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .call-prayer-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .goals-list {
        grid-template-columns: 1fr;
    }

    .goals .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .goals .section-title {
        grid-column: 1 / 4;
    }

    .goals-banner {
        margin-block: 0;
        display: grid;
        place-items: center;
    }

    .eventsCenter {
        grid-template-columns: repeat(3, 1fr);
    }

    .volunteerTeam {
        grid-template-columns: repeat(3, 1fr);
    }


    /* footer */

    .footer-top .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-brand {
        grid-column: 1 / 5;
    }

    .footer-brand .text {
        max-width: 45ch;
    }

}



/* responsiveness for larger than 1200px screen 
    responsiveness for the last screen
*/

@media (min-width: 1200px) {

    /* RE USED STYLES  */

    .container {
        max-width: 1200px;
    }

    .section-title {
        --fs-3: 4.6rem;
    }

    .navbar-list li {
        display: inline-flex;
        margin-right: -60px;
        margin-left: 10px;
    }

    .header .btn {
        margin-left: 50px;
    }

    /* HERO section */

    .hero {
        min-height: 800px;
    }


    /* THE BLOG SECTION */

    .blog-list {
        grid-template-columns: 1fr 1fr;
    }

    .blog-card {
        height: 100%;
    }

    .blog-card .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    /* THE FOOTER SECTION */


    .footer-top .container {
        grid-template-columns: 1fr 0.5fr 0.7fr 0.5fr 1fr;
    }

    .footer-brand {
        grid-column: auto;
    }


    .percent {
        text-align: center;
    }


}




/* MEDIA QUERY FOR THE sidebar */

@media only screen and (max-width: 750px){
    main .event-content{
        grid-template-columns: 100%;
    }
}